# This is Git's per-user configuration file.
[user]
  name = Kelvin Acosta
  email = 16613817+kelvin-acosta@users.noreply.github.com
[github]
  user = kelvin-acosta
[column]
  ui = auto
[core]
  excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RF
[interactive]
  diffFilter = diff-so-fancy --patch
[help]
  autocorrect = prompt
[init]
  defaultBranch = main
  templatedir = /Users/kelvinacosta/.git-templates
[branch]
  sort = -committerdate
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[pull]
  rebase = true
[fetch]
  all = true
  prune = true
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[merge]
  conflictstyle = zdiff3
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[rerere]
  enabled = true
  autoupdate = true
[tag]
  sort = version:refname
[format]
  pretty = %C(auto)%h - %s%d%n%+b%+N(%G?) %an <%ae> (%C(blue)%ad%C(auto))%n
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHightlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[credential "https://github.com"]
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper = !gh auth git-credential
