# This is Git's per-user configuration file.
[user]
        name = Kelvin Acosta
        email = kacosta@fuzzproductions.com
[core]
        excludesfile = /Users/kacosta/.gitignore_global
        pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
        helper = osxkeychain
[push]
        default = simple
[diff]
        indentHeuristic = on
[github]
        user = kelvin-acosta
[format]
	pretty = %C(auto)%h - %s%d%n%+b%+N(%G?) %an <%ae> (%C(blue)%ad%C(auto))%n
[hub]
        protocol = https
# Colors
[color]
        ui = true
[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHightlight = green bold 22
[color "diff"]
        meta = yellow
        frag = magenta bold
        commit = yellow bold
        old = red bold
        new = green bold
        whitespace = red reverse

[include]
        path = ~/.gitconfig_local
[url "git@gitlab.fuzzhq.com:"]
	insteadOf = https://gitlab.fuzzhq.com/
